body{
    background-color: #4e657a;
    scrollbar-color: #567086;
    scrollbar-width: thin;
}
nav{
    background-color: #567086;
}
.navbar-nav{
    margin-left: 100px;
}
.navbar-brand:active{
    color: orange;
}
.nav-link:active{
    background-color: orange;
}
.nav-link:hover{
    background-color: orange;
}
.notification-card {
    overflow-y: scroll;
    scrollbar-color:#567086;
}
.user-row{
   background-color: #4e657a; 
}
.hrs{
    margin-left: 110px;
    color: rgb(172, 166, 166);
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #394f62;
}
::-webkit-scrollbar-thumb {
  background: #6d8da6;
}
::-webkit-scrollbar-thumb:hover {
  background: #8ab5d6;
}
.table-card{
    overflow-x: scroll;
    width: 97%;
    margin-left: 10px;
    overflow-y: scroll;
}
.table{
    background-color: #4e657a;
}

/* Products Page */
.products-table-card{
    overflow: scroll;
}