body{
    background-color: #4e657a;
}
nav{
    background-color: #567086;
}
.navbar-nav{
    margin-left: 100px;
}
.nav-link:active{
    background-color: orange;
}
.nav-link:hover{
    background-color: orange;
}
.notification-card {
    overflow-y: scroll;
}
.user-row{
   background-color: #4e657a; 
}
.hrs{
    margin-left: 110px;
    color: rgb(172, 166, 166);
}