body{
    background-color: #4e657a;
    scrollbar-color: #567086;
    scrollbar-width: thin;
    overflow-x:auto;
}

/* Home Page */
nav{
    background-color: #567086;
}
.navbar-nav{
    margin-left: 100px;
}
.navbar-nav .active{
    background-color: orange;
}
.nav-link:hover{
    background-color: orange;
}

.dashboard-container{
    background-color: #567086;
}
.notification-card {
    overflow-y: scroll;
    scrollbar-color:#567086;
}
.user-row{
   background-color: #4e657a; 
}
.hrs{
    margin-left: 110px;
    color: rgb(172, 166, 166);
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #394f62;
}
::-webkit-scrollbar-thumb {
  background: #6d8da6;
}
::-webkit-scrollbar-thumb:hover {
  background: #8ab5d6;
}
.table-card{
    overflow-x: scroll;
    width: 97%;
    margin-left: 10px;
    overflow-y: scroll;
    height: 400px;
}
.table{
    background-color: #4e657a;
}

/* Products Page */
.products-container{
    background-color: #567086;
}
.products-table-card{
    overflow: scroll;
    height: 400px;
}
.add-product-btn{
    background-color: orange;
    color: white;
    width: 100%;
}
.add-product-btn:hover{
    color: orange;
   border-color: orange;
}
.delete-product-btn{
    background-color: orange;
    color: white;
    width: 100%;
}
.delete-product-btn:hover{
    color: orange;
   border-color: orange;
}
.product-card{
    background-color:#567086;
}
.categories-card-wrap{
    height: 400px;
    overflow: scroll;
}

/* Accounts Page */
.option-row{
    background-color: #567086;
    width: 96%;
}
select{
    background-color: #6d8da6;
    border: none;
}
select:focus{
   outline: none;
}
option{
    color: #c4cacf;
}
option[value="0"]{
    color: #c4cacf;
}

.user-img{
    position: relative;
}

.avatar-col{
    background-color: #567086;
}
.user-trash-bin{
    position: absolute;
    left: 50%;
    bottom: 45%;
    transform: translateX(-50%);
    font-size: 2rem;
    display: none;
}
.user-card:hover .user-trash-bin{
    display: block;
}
.upload-avatar-btn{
    color: white;
    background-color: orange;
    width: 100%;
}
.upload-avatar-btn:hover{
    color: orange;
    border-color: orange;
    background-color:  #567086;
}
.form-column{
    background-color: #567086;
}
/* input{
    background-color: #6d8da6;
    border: #6d8da6;
} */
.validate{
    background-color: #6d8da6;
    border: #6d8da6;
}
.validate:focus{
    background-color: #6d8da6;
    outline: #6d8da6;
}
input:focus{
    outline: none;
}
input[type = "submit"]{
    margin-top: 30px;
    background-color: orange;
}
input[type = "submit"]:focus input{
    margin-top: 30px;
    background-color: #6d8da6;
    color: orange;
    border-color: orange;
}
.update-profile-btn{
    
     color: white;
    background-color: orange;
    width: 100%;
}
.update-profile-btn:hover{
     color: orange;
    border-color: orange;
    background-color:  #567086;
}
.delete-account-btn{
    width: 100%;
    color: white;
    background-color: orange;
}
.delete-account-btn:hover{
     color: orange;
    border-color: orange;
    background-color:  #567086;
}

/* Login Page */
.login-card{
    background-color: #567086;
}
.login-card input{
    background-color:#8ab5d6;
    border-color: #8ab5d6;
}
/* Add Product page */
.add-product-col{
    background-color: #567086;
}
.add-product-col input, textarea{
    background-color: #8ab5d6;
    border-color: #8ab5d6;
}
.forgot-password-btn, .login-btn{
     color: white;
    background-color: orange;
    width: 100%;
}
.forgot-password-btn:hover, .login-btn:hover{
     color: orange;
    border-color: orange;
    background-color:  #567086;
}
.upload-image{
    position: relative;
}
.bi-cloud-arrow-up-fill{
    position: absolute;
    bottom: 40%;
    left: 40%;
    font-size: 4rem;
}
.upload-product-btn{
    color: white;
    background-color: orange;
    width: 100%;
}
.upload-product-btn:hover{
     color: orange;
    border-color: orange;
    background-color:  #567086;
}
.add-product-now-btn{
    color: white;
    background-color: orange;
    width: 100%;
}
.add-product-now-btn:hover{
    color: orange;
    border-color: orange;
    background-color:  #567086;
}